# General User variables
user = "minio"
minio_password = "<SOME-COMPLEX-PASSWORD>"
code_server_password = "<SOME-COMPLEX-PASSWORD>"

# Hetzner (hcloud) variables
hcloud_enabled = "1" #Set to 0 to disable HCloud. Set to 1 to enable HCloud.
hcloud_token = "<YOUR-HCLOUD-TOKEN>"
hcloud_server_count = 1
hcloud_location = "ash" #Set your preferred region
hcloud_server_type = "cpx31"
hcloud_os_type = "ubuntu-20.04"

# DigitalOcean (DO) variables
do_enabled = "0" #Set to 0 to disable DO. Set to 1 to enable DO.
do_token = "<YOUR-DO-TOKEN>"
do_droplet_count = 0
do_region = "nyc3" #Set your preferred region
do_droplet_size = "s-4vcpu-8gb"
do_os_type = "ubuntu-20-04-x64"

# AWS variables
aws_enabled = "0" #Set to 0 to disable AWS. Set to 1 to enable AWS.
aws_access_key = "<YOUR-AWS-ACCESS-KEY>"
aws_secret_key = "<YOUR-AWS-SECRET-KEY>"
aws_region = "us-east-1" #Set your preferred region
aws_instance_count = "0"
aws_instance_image = "ami-0070c5311b7677678" #Set to the appropriate Ubuntu 20.04 AMI in your selected region. Find the AMI here: https://cloud-images.ubuntu.com/locator/ec2/
aws_instance_size = "t3a.xlarge"

# General Variables (generally not necessary to change these)
code_server_version = "4.4.0"
lab_repo_url = ["https://github.com/mjminio/lab-test.git","https://github.com/mjminio/test2.git"]