---
- name: Create /home/{{ user }}/.kube directory
  ansible.builtin.file:
    path: /home/{{ user }}/.kube
    state: directory
    owner: "{{ user }}"
    group: "{{ user }}"
    mode: '0755'
  when: target_environment == "cloud"
  tags: k3s

- name: Download and install k3s server
  shell: curl -sfL https://get.k3s.io | INSTALL_K3S_EXEC="server --disable traefik" K3S_KUBECONFIG_MODE="644" sh -s -
  when: target_environment == "cloud"
  tags: k3s

- name: Copy kubeconfig to user home
  copy:
    src: /etc/rancher/k3s/k3s.yaml
    dest: /home/{{ user }}/.kube/config
    remote_src: true
    mode: 0644
    owner: "{{ user }}"
    group: "{{ user }}"
  when: target_environment == "cloud"
  tags: k3s

- name: Install ingress-nginx
  become_user: "{{ user }}"
  shell: helm upgrade --install ingress-nginx ingress-nginx --version 4.4.2 --repo https://kubernetes.github.io/ingress-nginx --namespace ingress-nginx --create-namespace --set controller.replicaCount=1 --set controller.ingressClassResource.default=true --set controller.service.nodePorts.http=31000 --set controller.service.nodePorts.https=31001 --set controller.service.ports.http=8080 --set controller.service.ports.https=8443
  when: target_environment == "cloud"
  tags: k3s