---
extra_server_args: ""
extra_agent_args: ""
user: ${user}
ansible_user: ${user}
systemd_dir: ${environment_systemd_directory}
deployment_name: ${deployment_name}
docker_compose_version: ${docker_compose_version}
lab_repo_url: ${lab_repo_url}
code_server_version: ${code_server_version}
code_server_password: ${code_server_password}
shutdown_after_time: ${shutdown_after_time}
minio_password: ${minio_password}

