echo <<EOF
Servers:

%{ for index, host in host_info ~}
${host}
%{ endfor ~}

VSCode Server Links:

%{ for index, ip in server_ips ~}%{ if can(server_ips) }https://${ip}:8080
%{ endif }%{ endfor ~}

VSCode Server Password: ${code_server_password}

NOTE: These Minio links will only be accessible after you run your setup script for Minio. These will work with Docker or Native installs.

%{ for index, ip in server_ips ~}%{ if can(server_ips) }https://${ip}:9000
%{ endif }%{ endfor ~}

Minio Username: ${user}
Minio Password: ${minio_password}

EOF