#!/bin/bash

%{ for index, ip in hcloud_minio_ips ~}
ssh -o "UserKnownHostsFile=/dev/null" -o StrictHostKeyChecking=no -i files/private-key.pem ${user}@${hcloud_minio_ips[index]} MINIO_ROOT_USER=${user} MINIO_ROOT_PASSWORD=${minio_password} /opt/minio/minio server /mnt/data --console-address ":9001"
%{ endfor ~}
%{ for index, ip in do_minio_ips ~}
ssh -o "UserKnownHostsFile=/dev/null" -o StrictHostKeyChecking=no -i files/private-key.pem ${user}@${do_minio_ips[index]} MINIO_ROOT_USER=${user} MINIO_ROOT_PASSWORD=${minio_password} /opt/minio/minio server /mnt/data --console-address ":9001"
%{ endfor ~}