# Source: https://github.com/minio/minio-service/tree/master/linux-systemd

# Remote volumes to be used for MinIO server.
MINIO_VOLUMES="/mnt/data/systemd"
# Use if you want to run MinIO on a custom port.
MINIO_OPTS="--address :9000 --console-address :9090"
# Root user for the server.
MINIO_ROOT_USER={{ user }}
# Root secret for the server.
MINIO_ROOT_PASSWORD={{ minio_password }}
# Set Minio Server URL
MINIO_SERVER_URL="https://{{ ansible_host }}"

# set this for MinIO to reload entries with 'mc admin service restart'
MINIO_CONFIG_ENV_FILE=/etc/default/minio

